<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movie</title>
    <link rel="stylesheet" href="/movie.css">
</head>
<body>
    <div class="container">
        <img src="<%= poster %>" alt="moviePoster">
        <ul>
            <li><h1><%= title %></h1></li>
            <li>Year: <%= year %></li>
            <li>Released: <%= released %></li>
            <li>Duration: <%= duration %></li>
            <li>Genre: <%= genre %></li>
            <li>Director: <%= director %></li>
            <li>Writer: <%= writer %></li>
            <li>Actors: <%= actors %></li>
            <li>Plot: <%= plot %></li>
            <li>Language: <%= language %></li>
            <li>Imbdrating: <%= imbdrating %></li>
            <li>Boxoffice: <%= boxoffice %></li>
        </ul>
    
    </div>
    
</body>
</html>